GJWXEU_1112/xPathGJWXEU/xpathgjwxeu/studentGJWXEU.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="class">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="keresztnev" type="xs:string"></xs:element>
                            <xs:element name="vezeteknev" type="xs:string"></xs:element>
                            <xs:element name="becenev" type="xs:string" maxOccurs="unbounded"></xs:element>
                            <xs:element name="kor" type="xs:int"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>