GJWXEU_1008/1. feladat/Gjwxeu_orarend2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- Gyökérelem -->
    <xs:element name="XY_Orarend" type="XY_OrarendTipus"/>

    <!-- Saját típusok definiálása -->
    <xs:complexType name="XY_OrarendTipus">
        <xs:sequence>
            <xs:element name="ora" type="OraTipus" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 'ora' elem típusa -->
    <xs:complexType name="OraTipus">
        <xs:sequence>
            <xs:element name="targy" type="xs:string"/>
            <xs:element name="idopont" type="IdopontTipus"/>
            <xs:element name="helyszin" type="xs:string"/>
            <xs:element name="oktato" type="xs:string"/>
            <xs:element name="szak" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="tipus" type="TipusTipus" use="required"/>
    </xs:complexType>

    <!-- 'idopont' elem típusa -->
    <xs:complexType name="IdopontTipus">
        <xs:sequence>
            <xs:element name="nap" type="NapTipus"/>
            <xs:element name="tol" type="IdoTipus"/>
            <xs:element name="ig" type="IdoTipus"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Nap típus (felsorolás) -->
    <xs:simpleType name="NapTipus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hétfő"/>
            <xs:enumeration value="kedd"/>
            <xs:enumeration value="szerda"/>
            <xs:enumeration value="csütörtök"/>
            <xs:enumeration value="péntek"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Óra típusa (felsorolás) -->
    <xs:simpleType name="TipusTipus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="elmelet"/>
            <xs:enumeration value="gyakorlat"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Idő formátum (HH:MM) -->
    <xs:simpleType name="IdoTipus">
        <xs:restriction base="xs:string">
            <xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
