GJWXEU_0924/3. Feladat/Gjwxeu_kurzusfelvetel.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT GJWXEU_kurzusfelvetel (hallgato, kurzusok)>
<!ATTLIST GJWXEU_kurzusfelvetel tanev CDATA #REQUIRED>
<!ATTLIST GJWXEU_kurzusfelvetel egyetem CDATA #REQUIRED>

    <!ELEMENT hallgato (hnev, szulev, szak)>
        <!ELEMENT hnev (#PCDATA)>
        <!ELEMENT szulev (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>
        <!ATTLIST szak evf CDATA #REQUIRED>
    
    <!ELEMENT kurzusok (kurzus)*>
        <!ELEMENT kurzus (kurzusnev, kredit, hely, idopont+, (oktato | oraado)?)>
        <!ATTLIST kurzus id ID #REQUIRED>
        <!ATTLIST kurzus jovahagyas (igen | nem) "nem">
        <!ATTLIST kurzus nyelv CDATA #IMPLIED>
            <!ELEMENT kurzusnev (#PCDATA)>
            <!ELEMENT kredit (#PCDATA)>
            <!ELEMENT hely (#PCDATA)>
            <!ELEMENT idopont (#PCDATA)>
            <!ELEMENT oktato (#PCDATA)>
            <!ELEMENT oraado (#PCDATA)>